<span ng-if="errorMessage" class="alert alert-danger">Nothing found!</span>
<div>
<div ng-if="items.length > 0" class="alert alert-success"> {{items.length}} items Found</div>
<table class="table">
  <tr ng-repeat="item in items">
    <td>
      <b>{{ item.name }}</b>
    </td>
    <td>
      ({{ item.short_name }})
     </td>
     <td>
       {{ item.description }}
     </td>
     <td>
        <button class="btn btn-danger" ng-click="onRemove({index: $index});">I don't want this!</button>
    </td>
  </tr>
</table>
</div>
